.input--320 {
  display: none;
}

.search-block {
  display: flex;
  height: 48px;
  
  @include block-center;

  &__container {
    margin: 32px auto 0;
  }

  &__input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 22px;

    color: $text-col;
    background: url("../images/Shape.png") 0 center / 16px no-repeat;
    transition: background-color 0.3s ease-in-out;

    @include border($c-grey);
    
    &:focus {
      outline: none;
      border-bottom: 1px solid $c-green;
    }

    &::placeholder {
      font-size: 13px;
      color: $text-col;
    }
  }
  &__form {
    position: relative;
    height: 45px;
    width: 992px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}

.button__container {
  margin-right: 8px;
}

.catalog {
  padding-top: 56px;

  @include block-center;

  &__title {
    font-weight: normal;
    font-size: 22px;
    color: $main-text-col;
  }

  &__items {
    display: grid;
    justify-content: space-between;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    padding-top: 16px;
    padding-bottom: 80px;

  }
   
}

.product {
  
  &__place {
    margin: 16px 0 0;

    font-weight: normal;
    font-size: 16px;
    color: $main-text-col;

  }
  
  &__list {
    margin: 8px 0 0;

    font-weight: normal;
    font-size: 14px;
    color: $text-col;
  }

  &__time {
    margin: 10px 0 0;

    font-weight: normal;
    font-size: 13px;
    color: $main-text-col;
  }

  &__img {
    height: 100%;
    width: 100%;

    &:hover {
      opacity: 0.75;
      cursor: pointer;
       
    }
  }

}
