@mixin main-font {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

@mixin bg-img {
  @for $i from 1 through 3 {
    .social__icons--#{nth($social-group, $i)} {
      background-image: url("../images/#{nth($social-group, $i)}.svg");
      height: 24px;
      width: 24px;
    }
  }
}

@mixin block-center {
  max-width: 962px;
  margin: 0 auto;
}

@mixin flex-block($align-items, $justify-content) {
  display: flex;
  align-items: #{$align-items};
  justify-content: #{$justify-content};
}

@mixin flex-justify($justify-content) {
  display: flex;
  justify-content: #{$justify-content};
}

@mixin border($color) {
  box-sizing: border-box;
  border-bottom: 1px solid #{$color};
}

@mixin display {
  @for $d from 5 through 9 {
    .catalog__item:nth-child(#{$d}) {
      display: none;
    }
  }
}  
